# Entornos virtuales
venv/
.env/
.venv/
env/
ENV/

# Archivos de entorno
.env
.env.*

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de compilación
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Archivos de logs y bases de datos temporales
*.log
*.sqlite3

# PyInstaller
# Crea archivos binarios en una carpeta llamada `dist`
*.manifest
*.spec

# Caches de herramientas
.cache/
.pytest_cache/
coverage_html_report/
htmlcov/
.tox/
.nox/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Documentación 
documentacion.txt